html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;  /* Centra verticalmente tanto el ícono como el texto */
    justify-content: left;  /* Alinea a la izquierda horizontalmente */
    background-color: rgba(0, 0, 0, 1);
    color: white;
    height: 60px;
    padding: 0 20px;
}

h1 {
    display: flex;
    align-items: center;  /* Centra verticalmente los elementos dentro del h1 */
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

h1 img.icono-header {
    margin-right: 10px;  /* Espacio entre el ícono y el texto */
    height: 50px;  /* Ajusta la altura del ícono */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, .8);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los botones */
}

.main-btn {
    width: 50%; /* Cada botón ocupará la mitad del espacio disponible */
    padding: 20px;
    font-size: 1.2em;
    color: white;
    background-color: #00B287;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.main-btn:hover {
    background-color: #008f6b;
}

.hidden {
    display: none;
}

.form-container {
    background-color: rgba(124, 124, 124, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    color: white;
}

.input-group-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre las columnas y filas */
}

.input-group.full-width {
    grid-column: span 3; /* El correo electrónico ocupa todo el ancho */
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input, .custom-file-label {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

.input-group input[type="file"] {
    padding: 0;
}

.custom-file-label {
    background-color: #00B287;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.custom-file-label:hover {
    background-color: #008f6b;
}

.custom-file-input {
    display: none; /* Ocultamos el input file original */
}

.btn {
    background-color: #00B287;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
}

.btn:hover {
    background-color: #008f6b;
}

.close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #00B287;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.close-btn:hover {
    background-color: #008f6b; /* Color hover en verde más oscuro */
}
/* Estilo específico para el botón de cerrar del registro agregado */
.close-btn-agregado {
    position: absolute;
    top: 10px; /* Ajustar según el espacio que desees respecto al contenedor */
    right: 10px; /* Ajustar según el espacio que desees respecto al contenedor */
    background-color: #00B287;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.close-btn-agregado:hover {
    background-color: #008f6b;
}

#buscar-registro, .form-container {
    position: relative;
    background-color: rgba(124, 124, 124, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    color: white;
}

#buscar-nombre {
    width: 98%;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
}

#sugerencias {
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    display: block;
    box-sizing: border-box;  /* Asegura que el padding no afecte el ancho */
    color: #333;
}

.sugerencia-item {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.sugerencia-item:hover {
    background-color: #f0f0f0;
}

#resultado-registro {
    margin-top: 20px;
    padding: 0;
    background: none;
    box-shadow: none;
}

#resultado-registro p {
    margin: 10px 0;
}

.registro-detalles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.registro-detalles .datos {
    flex: 1;
    margin-right: 20px;
}

.registro-detalles .foto img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

input[type="text"] {
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}



.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



footer {
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    width: 100%;
    font-size: 0.7em;
    height: 35px;
    position: relative;
    margin-top: auto;
}
